<%- include('../../partials/header') %>
<%- include('../../partials/nav') %>

<main>
  <h1>Zodiac Globe</h1>
  <iframe
    src="/globe/index.html"
    width="100%"
    height="900"
    style="border: none;">
  </iframe>
</main>

<%- include('../../partials/footer') %>