<%- include('../../partials/header') %>
<%- include('../../partials/nav') %>
<main>
    <main class="start-background logged ">
        <h1>Login failed, try again </h1>
</main>
<%- include('../../partials/footer') %>