<%- include('../../partials/header') %>
<div class="page-login">
<%- include('../../partials/nav') %>
 <p class="login-error">Login failed, try again</p>
  <div class="auth-hero">
    <main id="loginBox">
     

      <form class="neon-form" action="/login" method="POST">
        <label for="username">Email</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <input class="button-res" type="submit" value="Login">
      </form>

      <% if (errorMessage) { %>
        <p class="login-error"><%= errorMessage %></p>
      <% } %>
    </main>
  </div>

</div>