<%- include('../../partials/header') %>
<%- include('../../partials/nav') %>
<main>
    <main class="start-background logged ">
        <h1>Not logged in </h1>
</main>
<%- include('../../partials/footer') %>