<%- include ('../../partials/header') %>
<div class="page-login">
<%- include('../../partials/nav') %>
 <div class="auth-hero">
<main id="loginBox">

  <form class="neon-form" action="/register" method="POST">
  <label for="usernameProfi">Username</label> 
  <input type="text" id="usernameProfi" name="usernameProfi" required><br>

  <label for="username">Email</label>
  <input type="email" id="username" name="username" required><br>

  <label for="password">Password</label>
  <input type="password" id="password" name="password" required><br>

  <button class="button-res" type="submit">Register</button>
</form>
  <% if (errorMessage) { %>
        <p class="login-error"><%= errorMessage %></p>
      <% } %>
</main>
 </div>
</div>  
<%- include ('../../partials/footer') %>