<%- include('../../partials/header') %>
<div class="page-login">
<%- include('../../partials/nav') %>
<main>
    <main class="start-background logged ">
        <h1>Registration Failed, please try again..</h1>
</main>
<%- include('../../partials/footer') %>
</div>